.main {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    flex-direction: column;
    margin-top: 5.5rem;
    overflow: hidden;
}

.head{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 1.6rem;
    margin-bottom: 5rem;
}

.form {
    width: 32rem;
    margin-top: 5rem;
    padding: 1rem;
    border-radius: 5%;
    box-shadow: 0 0 0.7rem violet;
    outline: solid 0.02rem violet;
    transition-duration: 0.35s;
    transition-property: all;
    backdrop-filter: blur(0.1rem);
}
.form:hover{
    box-shadow: 0 0 1.5rem rgb(231, 101, 231);
}

@media screen and (max-width: 830px) {
    .form {
        width: 70%;
    }
}

@media screen and (max-width:700px) {
    .form{
        width: 80%;
    }
}

@media screen and (max-width:630px) {
    .form{
        width: 82%;
        margin-top: 6rem;
        margin-bottom: 1.5rem;
    }
    /* .head{
        margin-bottom: 1rem;
        margin-top: 1rem;
    } */
}

@media screen and (max-width:520px) {
    .form{
        width: 90%;
    }
}

.row {
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 0.1rem;
}

@media screen and (max-width:450px) {
    .form{
        width: 97%;
        margin-top: 3.5rem;
        margin-bottom: 1rem;
    }
    .row{
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}

.btn {
    font-size: 1.3rem;
    border-radius: 25%;
    font-weight: 600;
    width: fit-content;
    box-shadow: 0 0 0.6rem blue;
    transition-duration: 0.3s;
    transition-property: all;
    margin-top: 1.2rem;
}

.btn:hover {
    box-shadow: 0 0 1rem blue;
    transform: scale(1.04);
}

.inputContainer {
    position: relative;
}

.validationIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: gray;
}

.validationIcon.valid {
    color: green;
}

.validationIcon.invalid {
    color: red;
}

.img{
    background-image: url('./../public/utils/contact.svg');
    background-position: center;
    width: 28rem;
    height: 28rem;
    margin-bottom: 0.8rem;
}

/* @media screen and (max-width:800px) {
    .head{
        font-size: 1.8rem;
    }
} */

.main2{
    margin-top: 6.8rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.txt{
    font-size: 1.5rem;
}

.links{
    width: 60%;
    margin-top: 1.8rem;
    padding: 0.4rem;
    color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

#linkBtn{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    transition-duration: 0.2s;
    transition-property: all;
}

#linkBtn:hover {
    transform: scale(1.2);
}

.linkedinButton {
    color: #109bff;
}
.githubButton {
    color: white;
}
.instagramButton {
    color: #fe1044;
}
.leetcodeButton {
    color: #fea013;
}
.twitterButton {
    color: white;
}
.emailButton {
    color: #b2221e;
}

.whatsappButton {
    color: #25D366;
}


@media screen and (max-width:410px) {
    .links{
        flex-wrap: wrap;
    }
    #linkBtn{
        margin-bottom: 1rem;
    }
}