.layoutDiv {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #160025, #160025, #160025);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1;
    color: white;
    text-align: center;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.main{
    margin-top: 4.2rem;
    overflow: hidden;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    55% {
        opacity: 0.85;
    }
}


.grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 4 equal columns by default */

    margin-bottom: 8rem;
    margin-top: 2rem;
    padding: 0.2rem;
    text-align: center;
    z-index: -1;
    color: white;
}

/* Grid item styling */
.grid_item {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subDiv {
    margin: 0.2rem;
    width: 95%;
    height: 80vh;
    transform: scaleX(-1);
    background-image: url('./../public/utils/home_pic.svg');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 0;
}

/* Responsive breakpoints using media queries */
@media (max-width: 1100px) {
    .grid_container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns for medium screens */
    }
    .subDiv{
        width: 72%;
        height: 68vh;
    }
}

@media (max-width: 990px) {
    .grid_container {
        grid-template-columns: 1fr;
        /* 1 columns for small screens */
        margin-top: 16.2rem;
    }
    .subDiv{
        width: 85%;
        height: 70vh;
        background-position: center;
        margin-top: 11rem;
        margin-bottom: 2.5rem;
    }
    .sec{
        font-size: 1.6rem;
    }
}

@media (max-width: 600px) {
    .grid_container {
        grid-template-columns: 1fr;
        /* 1 column for very small screens */
    }
    .subDiv{
        width: 85%;
        height: 70vh;
        background-position: center;
    }
}

@media (max-width: 500px) {
    .grid_container{
        margin-top: 11rem;
    }
    #g1{
        margin-bottom: 3rem;
    }
}

.mainContent {
    color: white;
    font-size: clamp(1.5rem, 2rem, 3rem);
    font-weight: 500;
    flex-direction: row;
}

.container {
    text-align: start;
    font-family: Arial, sans-serif;
    /* margin: 1rem; */
}

.hand {
    font-size: clamp(1.9rem, 2.3rem, 2.6rem);
    padding-left: 0.4rem;
    transform: scaleX(-1);
    transform: rotate(-5deg);
    animation: wave 1.5s ease-in-out infinite;
    display: inline-block;
}

.sec {
    font-size: clamp(1.8rem, 2.1rem, 3rem);
    text-align: center;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    line-height: 5rem;
}

.secSpan {
    margin-left: 1rem;
    color: rgb(223, 106, 223);
    font-weight: 550;
    /* font-style: normal; */
}

@media screen and (max-width: 500px) {
    .sec{
        font-size: 2rem;
    };
    .secMain{
        margin-left: 0.5rem;
    };
}

@media screen and (max-width: 410px) {
    .sec{
        font-size: 1.7rem;
    };
    .secMain{
        margin-left: 0.2rem;
    };
}

.third {
    color: rgb(229, 102, 229);
    font-weight: lighter;
    margin-top: 3rem;
    font-style: normal;
    font-family:  'Arial Narrow';
}

.typing_text {
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0.95;
    animation: typing 6s steps(43) 0s 1, blink 0.6s ease-in-out infinite;
    font-size: 1.8rem;
}

.div1{
    color: white;
    width: 75%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-bottom: 4rem;
}

.div2{
    font-size: 2.4rem;
    font-weight: 550;
    margin-bottom: 4rem;
}

.div3{
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.d2{
    font-size: 2.1rem;
    font-weight: 500;
}

.d3{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.secMain {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: start;
    position: absolute;
    margin-left: 1rem;
}

@media screen and (max-width:800px) {
    .secMain{
        top: 9%;
    }
    .subDiv{
        margin-top: 9rem;
        margin-bottom: 2rem;
    }
    .third{
        margin-top: 1rem;
    }
    /* .typing_text{
        font-size: 1.8rem;
    } */
    .div2{
        font-size: 2rem;
        font-weight: 550;
    }
    .div3{
        font-size: 1.2rem;
    }
    .d2{
        font-size: 1.6rem;
        font-weight: 600;
    }
}

@media screen and (max-width:500px) {
    .div1{
        width: 94%;
    }
}

/* Waving animation */
@keyframes wave {
    0% {
        transform: rotate(-5deg);
    }

    13% {
        transform: rotate(15deg);
    }

    26% {
        transform: rotate(-15deg);
    }

    39% {
        transform: rotate(8deg);
    }

    52% {
        transform: rotate(-8deg);
    }

    65% {
        transform: rotate(4deg);
    }

    78% {
        transform: rotate(-4deg);
    }

    91% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

/* Typing Effect Styles */
.typing_container {
    text-align: center;
    margin-top: 1rem;
}

/* Typing effect */
@keyframes typing {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    75% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

/* Cursor blink effect */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.footer{
    width: 100%;
    margin-top: 3rem;
    padding: 0.4rem;
    background-color: transparent;
    backdrop-filter: blur(3rem);
    color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

@media screen and (max-width: 980px){
    .footer{
        flex-direction: column;
        gap: 0%;
    }
}

.d1{
    margin-bottom: 4rem;
}

.d4{
    width: 100%;
    margin-top: 0.4rem;
    padding: 0.4rem;
    color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

@media screen and (max-width:450px) {
    .subDiv{
        width: 95%;
    }
    .grid_item{
        margin-top: 2.6rem;
    }
    #g2{
        margin-top: 0;
    }
    #g1{
        margin-bottom: 0;
    }
    .third{
        margin-top: 2.1rem;
    }
    .div2{
        font-size: 1.4rem;
        font-weight: 550;
    }
    .div3{
        font-size: 1.1rem;
    }
    .d4{
        flex-wrap: wrap;
    }
    #linkBtn{
        margin-bottom: 1rem;
    }
}

#linkBtn{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    transition-duration: 0.2s;
    transition-property: all;
}

#linkBtn:hover {
    transform: scale(1.2);
}

.linkedinButton {
    color: #109bff;
}
.githubButton {
    color: white;
}
.instagramButton {
    color: #fe1044;
}
.leetcodeButton {
    color: #fea013;
}
.twitterButton {
    color: white;
}
.emailButton {
    color: #b2221e;
}

