.main{
    margin-top: 5.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
}

.head{
    font-size: 2.1rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

@media screen and (max-width:800px) {
    .head{
        font-size: 1.8rem;
    }
}

.main2{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.card{
    width: 24rem;
    height: 38rem;
    box-shadow: 0 0.25rem 0.35rem rgb(141, 76, 141);
    background-color: transparent;
    backdrop-filter: blur(1.5rem);
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 6rem;
    text-align: center;
    padding: 0.71rem;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    transition-duration: 0.45s;
    transition-property: all;
}

.img{
/*     width: 22rem;
    height: 17rem; */
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.img2{
/*     background-image: url('./../public/utils/atm_project.png'); */
/*     background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */
    width: 22.3rem;
    height: 15rem;
}
.img3{
    background-image: url('./../public/utils/portfolio_project.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 22.3rem;
    height: 15rem;
}
.img4{
    background-image: url('./../public/utils/coming_soon.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 22.3rem;
    height: 15rem;
}

.title{
    text-align: center;
    font-size: 1.4rem;
    margin-top: 0.1rem;
    margin-bottom: 0.25rem;
    color: rgb(238, 57, 238);
}

.content{
    text-align: left;
    font-size: 1rem;
    margin-bottom: 0.7rem;
    padding: 0.06rem;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.06rem;
    font-family: 'Roboto', Arial, sans-serif; /* A clean, modern font */
}

@media screen and (max-width:468px) {
    
    .card{
        width: 23rem;
        height: 36rem;
    }
    .img2, .img3, .img4{
        width: 15.2rem;
        height: 12.6rem;
        margin-bottom: 0.5rem;
    }
    .title{
        margin-top: 0.4rem;
        padding-top: 0.2rem;
        font-size: 1.2rem;
        font-weight: 600;
    }
    .content{
        font-size: 1rem;
    }
}

.card:hover{
    box-shadow: 0 0.16rem 1rem rgb(141, 76, 141);
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn2{
    padding: 0.4rem;
    background-color: rgb(48, 100, 231);
    color: white;
    border-radius: 8%;
}

.temp{
    font-size: 1.3rem;
    color: rgb(238, 57, 238);
    text-align: center;
    font-weight: bold;
}
